body,html{
    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif !important; 
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
}
/* Background Gradient */
.c-background{
    position: absolute;
    margin:0;
    padding:0;
    width: 1920px;
    height: 1080px;
    background: linear-gradient(213.54deg, rgba(255, 184, 0, 0.62) 16.87%, rgba(0, 34, 68, 0.62) 75.23%), 
    radial-gradient(96.07% 303.62% at 1.56% 100%, #DA2F2F 4.24%, rgba(255, 255, 255, 0) 100%)
}
/* Login container for all elements */
.block-login{
    top: 90px;
    left: 320px;
    position: absolute;
    background-color: #110000;
    width: 1200px;
    height: 800px;
    box-shadow: 11px 12px 10px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}
.c-elements-login{
    top: 200px;
    left: 140px;
    position: absolute;
}
.c-elements{
    justify-content: center;
    align-items: center;
    padding: 0ch;
}
.logotext{
    font-family: 'Noto Sans JP';
    color: white;
    text-align: center;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: lighter;
}
.elements-login{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    /* margin: 0 -5px; */
}
.form-control {
    position: relative;
    margin: 20px 0 10px;
    width: 550px;
}
.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}
.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: white;
}
 
.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}
.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: white;
    transform: translateY(-30px);
}
/* Button styles */
#login{
    color: #090909;
    padding: 10px 250px;
    font-size: 18px;
    border-radius: 7px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 2px 2px 1px #c5c5c5;
    text-decoration: none;
}
/* Remind me and forgot password styles */
.c-extra-elements{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 15px;
}
.forgot{
    display: block;
    position: relative;
    margin: 20px;
    margin-right: 0%;
    color: white;
    text-align: right;
    font-size: 13px;
    letter-spacing: 1px;
}
.c-checkbox{
    display: block;
    position: relative;
    margin: 20px;
    margin-left: 0%;
}
.c-checkbox label{
    color: rgb(255, 255, 255);
    margin-left: 35px;
    font-size: 13px;
    letter-spacing: 1px;
}
.c-checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 7px;
}
.c-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
.c-checkbox input:checked ~ .checkmark {
    background-color: #f0c352;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.c-checkbox input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.c-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}