
.groups{
    margin-top: 50px;
    display: flex;
    color: white;
    font-weight: bold;
}

.top{
    padding: 50px 75px 50px 75px;
    margin: 10px;
    background: linear-gradient(213.54deg, rgba(255, 184, 0, 0.62) 16.87%, rgba(0, 34, 68, 0.62) 75.23%), 
    radial-gradient(96.07% 303.62% at 1.56% 100%, #DA2F2F 4.24%, rgba(255, 255, 255, 0) 100%);
    border-radius: 9px;
}
.bottom{
    margin: 10px;
    padding: 50px 75px 50px 75px;
    background: linear-gradient(213.54deg, rgba(255, 184, 0, 0.62) 16.87%, rgba(0, 34, 68, 0.62) 75.23%), 
    radial-gradient(96.07% 303.62% at 1.56% 100%, #DA2F2F 4.24%, rgba(255, 255, 255, 0) 100%);
    border-radius: 9px;

}