.navbar{
    filter: invert(1);
    display: flex;
}
.menu-bars{
    font-size: 35px;
    background: none;
}
.nav-menu{
    background-color: #110000;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.nav-menu.active{
    left: 0;
    transition: 300ms;
}
.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    list-style: none;
    height: 60px;
}
.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    display: flex;
    align-items: center;
    border-radius: 9px;
}
 .nav-text a:hover{
    text-decoration: underline;
}
.nav-menu-items{
    width: 100%;
}
.navbar-toggle{
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
span{
    margin-left: 16px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    align-items: center;
    list-style: none;
    border-radius: 9px;
    margin: 10px;

}