.main{
    color:black;
    font-weight: bold; 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-element{
    border: 1px black solid;
    justify-content: center;
    padding: 10px;
}
